* {
  border: 0px;
}
.App {
  text-align: center;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.App-title {
  font-size: 44px;
}
.App-article {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: left;

}
.lists-title {
  font-family: "Open sans";
  font-size: 34px;
  font-weight: 900;
  line-height: 70px;
}
.article-title {
  font-family: "Open sans";
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #030303;
  padding-bottom: 20px;
}
.article-text {
  font-family: "Open-sans";
  font-size: 20px;
  letter-spacing: 1px;
  color: #030303;
  padding-bottom: 20px;
}
.author-desc {
  font-family: "Times New Roman";
  font-size: 15px;
}
.article-close-btn {
  padding: 10px 0;
  color: #fff;
  background: #222;
  font-size: 15px;
  letter-spacing: 2px;
}
.article-close-btn:focus {
  outline: none;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
